Start
=== test/source/lab/00.test ===
l
--- Test --->
Ошибка при загрузке файла 'lab.data'
=== test/source/lab/01.test ===
a Иван_Иванов_2001
a Пётр_Петров_2002
a Сидор_Сидоров_2003
s
v
--- Test --->
[0] Иван_Иванов_2001 
[1] Пётр_Петров_2002 
[2] Сидор_Сидоров_2003 
Количество элементов в коллекции: 3
Выполнение завершено успешно
=== test/source/lab/02.test ===
l
r 2
s
v
--- Test --->
[0] Иван_Иванов_2001 
[1] Пётр_Петров_2002 
Количество элементов в коллекции: 2
Выполнение завершено успешно
=== test/source/lab/03.test ===
l
av 1 2020 12 04
av 1 2020 12 06
av 0 2020 11 23
s
c
l
v
--- Test --->
[0] Иван_Иванов_2001 
	23.11.2020
[1] Пётр_Петров_2002 
	4.12.2020
	6.12.2020
Количество элементов в коллекции: 2
Выполнение завершено успешно
=== test/source/lab/04.test ===
l
rp

--- Test --->
Пётр_Петров_2002 2
Иван_Иванов_2001 1
Выполнение завершено успешно
